/*Variables
--------------------------------------------------------------------------------------------------------------------- */
@import "base.variables";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "@near-wallet-selector/modal-ui/styles.css";

$brand-colors: (
	"brand1": $primary,
	"brand2": $secondary,
	"primary": $primary,
	"secondary": $secondary
);

$theme-colors: map-merge($theme-colors, $brand-colors);

@import "bootstrap/scss/bootstrap";
@import "project";

:root {
	--dashboard-sidebar-width: 250px;

	--brand1: #{$brand1};
	--brand2: #{$brand2};

	--brand1-rgba: 53, 19, 48;
	--brand2-rgba: 204, 42, 65;
}


$hamburger-padding-x: 16px;
$hamburger-padding-y: 16px;
$hamburger-layer-width: 25px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: white;
$hamburger-types: (emphatic);

@import "hamburgers/_sass/hamburgers/hamburgers";

:root {
	--player-background: black;
	--player-font-size: 0.9rem;
	--player-font-size-small: 0.7rem;
	--player-font-weight: 300;
	--player-font-weight-bold: 600;
	--player-text-color: white;
	--player-icon-color: white;
	--player-link-color: var(--player-text-color);
	--player-progress-color: var(--brand2);
	--player-buffered-color: var(--brand2);
	--player-seeker-color: white;
	--player-input-range-color: var(--player-text-color);
}

@import 'vue-sound/style.css';

.vue-sound {

	.player {
		padding: 0;

		.player-controls {

			.player-track {
				padding: 0.5rem 1rem 0;
			}

			.player-back-15-icon,
			.player-ahead-15-icon {

				width: 0.8rem;
				aspect-ratio: 1;
				cursor: pointer;
			}

			.player-play-pause-icon,
			.player-download-icon,
			.player-volume-icon {

				width: 1.2rem;
				aspect-ratio: 1;
				cursor: pointer;
			}

			.player-back-15-icon,
			.player-ahead-15-icon,
			.player-play-pause-icon,
			.player-download-icon,
			.player-volume-icon {

				&:hover {
					svg path {

						fill: var(--brand2);
					}
				}
			}
		}

	}

}
